* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: sans-serif;
  text-align: center;
}

section {
  width: 50%;
  margin: 2rem auto 0 auto;
  padding: 2rem;
  background-color: white;
}

h1 {
  margin-bottom: 1rem;
}

.image-wrapper {
  position: relative;
  margin: 0 auto;  
}

h2 {
  position: absolute;
  font-size: 4em;
  left: 0;
  right: 0;
}

.header {
  top: 0;
}

.footer {
  bottom: 0;
}

label {
  display: block;
}

input {
  margin: 0.5rem;
}