* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: sans-serif;
  text-align: center;
}

section {
  width: 60%;
  margin: 2rem auto 0 auto;
  padding: 2rem;
  background-color: white;
}

h1 {
  margin-bottom: 1rem;
}

.image-wrapper {
  position: relative;
  margin: 0 auto;  
}

img {
  max-width: 95%;  
}

h2 {
  position: absolute;
  left: 0;
  right: 0;
}

.header {
  top: 1rem;
}

.footer {
  bottom: 1rem;
}

label {
  display: block;
}

input {
  margin: 0.5rem;
}

fieldset {
  max-width: 95%;
  margin: 0 auto;  
  padding: 0.5rem;
  border-style: solid;
}

.controls fieldset {
  margin-top: 1rem;
}

.footer-controls {
  margin: 2rem 0;
}

input[type="file"] {
  margin-right: -4.5rem;
}

button {
  margin-top: 1rem;
  padding: 0.5rem;
}